.App{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.btn{
    margin-left: 10px;
    width: 6%;
    background-color: rgba(0, 0, 255, 0.815);
    color: beige;
}
.todo{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
    background-color: peachpuff;
    margin: 20px 20px;
}
.btn1{
    width: 53px;
    height: 30px;
    margin-top: 10px;
    background-color: brown;
}
.btn2{
    width: 57px;
    height: 30px;
    margin-top: 10px;
    background-color: green;
}
.inputTag{
    width: 40%;
}